@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: #FCF9F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
}
